@import './global.css';
@import './current-weather.css';
@import './weekly-weather.css';
@import './tabs.css';
@import './day-weather.css';
@import './loading.css';

.app {
  /* block-size: calc(100% - var(--weeaklyBlockSize)); */
  /* max-block-size: calc(100vh - var(--weeaklyBlockSize)); */
  block-size: 100%;
  background-image: url('../images/morning-clean.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.app[hidden] {
  display: none;
}

.all-app{
  display: flex;
  flex-direction: column;
}